{% load static %}
<aside id="sidebar">
    <div class="logo">
        <img src={% static "app/images/logo/IMG_3823.PNG" %} />
    </div>
    <nav>
        <ul>
            <a href="{% url 'dashboard_view' %}"><li>Dashboard</li></a>
            <a href="{% url 'clients_view' %}"><li>Clientes</li></a>
            <a href="{% url 'galleries_view' %}"><li>Galerias</li></a>
            <a href="{% url 'packages_view' %}"><li>Pacotes</li></a>
            <a href="{% url 'plans_view' %}"><li>Planos</li></a>
            
        </ul>
    </nav>
    <div class="logout">
        <nav>
            <ul>
                <a href="{% url 'logout_view' %}"><li>Sair</li></a>
            </ul>
        </nav>
    </div>
</aside>