{% extends "_base/base.html" %}
{% load static %}

{% block content %}
<div class="button-container">
    <h1>Dashboard</h1>
</div>

<div class="grid mt-3" >
    <div class="exp">
        <h3>Pacotes expirados</h3>
    </div>
</div>

{% if expired %}
<div class="grid">
    <div class="table">
        <div class="row header">
            <div class="cell name">Cliente</div>
            <div class="cell">Pacote</div>
            <div class="cell">Data de criação</div>
            <div class="cell">Data de expiração</div>
            <div class="cell action">Ações</div>
        </div> <!-- end row header -->
        {% for package in expired %}
        <div class="row">
            <div class="cell name expired">
                <a href="{% url 'client_view' package.client.id %}">
                    {{ package.client.name }}
                </a>
            </div>
            <div class="cell expired">
                {{ package.plan.name }}
            </div>
            <div class="cell expired">
                {{ package.created_at }}
            </div>
            <div class="cell expired">
                {{ package.deadline }}
            </div>
            <div class="cell action expired act">
                <a href="{% url 'package_update' id=package.id %}" title="Renovar o pacote" alt="Renovar o pacote">
                    <i class="fas fa-sync-alt"></i>
                </a>
                <a href="{% url 'package_delete' id=package.id %}" title="Renovar o pacote" alt="Renovar o pacote">
                    <i class="fas fa-trash"></i>
                </a>
            </div>
        </div> <!-- end row -->
        {% endfor %}
    </div> <!-- end table -->
</div> <!-- end grid -->
{% else %}
<div class="grid">
    <div class="table">
        <div class="row header">
            <div class="cell name">Cliente</div>
            <div class="cell">Pacote</div>
            <div class="cell">Data de criação</div>
            <div class="cell">Data de expiração</div>
            <div class="cell action">Ações</div>
        </div> <!-- end row header -->
    </div> <!-- end table --> 
    <div class="table">
        <div class="row">
            <div class="cell">Nenhum pacote expirado.</div>
        </div> <!-- end row -->
    </div> <!-- end table -->         
</div> <!-- end grid -->
{% endif %}  

<div class="grid mt-3" >
    <div class="exp">
        <h3>Pacotes a expirar</h3>
    </div>
</div>
{% if expiring %}
<div class="grid">
    <div class="table">
        <div class="row header">
            <div class="cell name">Cliente</div>
            <div class="cell">Pacote</div>
            <div class="cell">Data de criação</div>
            <div class="cell">Data de expiração</div>
            <div class="cell action">Ações</div>
        </div> <!-- end row header -->
        {% for package in expiring %}
        <div class="row">
            <div class="cell name expiring">
                <a href="{% url 'client_view' package.client.id %}">
                    {{ package.client.name }}
                </a>
            </div>
            <div class="cell expiring">
                {{ package.plan.name }}
            </div>
            <div class="cell expiring">
                {{ package.created_at }}
            </div>
            <div class="cell expiring">
                {{ package.deadline }}
            </div>
            <div class="cell action expiring act">
                <a href="{% url 'package_update' id=package.id %}" title="Renovar o pacote" alt="Renovar o pacote">
                    <i class="fas fa-sync-alt"></i>
                </a>
            </div>
        </div> <!-- end row -->
        {% endfor %}
    </div> <!-- end table -->         
</div> <!-- end grid -->
{% else %}
<div class="grid">
    <div class="table">
        <div class="row header">
            <div class="cell name">Cliente</div>
            <div class="cell">Pacote</div>
            <div class="cell">Data de expiração</div>
            <div class="cell action">Ações</div>
        </div> <!-- end row header -->
    </div> <!-- end table --> 
    <div class="table">
        <div class="row">
            <div class="cell">Nenhum pacote expirado.</div>
        </div> <!-- end row -->
    </div> <!-- end table -->         
</div> <!-- end grid -->

<div class="grid_dash mt-3" >
    <div class="dash"> 
        <div class="dash_block">
            <h3>Clientes</h3>
            <p>{{ clients }}</p>
        </div>
        <div class="dash_block">
            <h3>Pacotes</h3>
            <p>{{ packages }}</p>
        </div>
        <div class="dash_block">
            <h3>Galerias</h3>
            <p>{{ galleries }}</p>
        </div>
    </div>
</div>

{% endif %}  

{% endblock content %}