{% extends "_base/base.html" %}
{% load static %}

{% block content %}
<div class="button-container">
    <h1>Exibir Cliente</h1>
</div>
<form action="" method="POST" enctype="multipart/form-data" disabled>
    {% csrf_token %}
    <div class="grid">
        <div class="form-section">
            <h3>Dados Pessoais</h3>
            <div class="form-col">
                <div class="form-row" style="margin-top: 10px;">
                    <div class="form-group">
                        <label>Foto:</label>
                        <div class="data form-img">
                            <div class="upload-container">
                                {% if client.photo %}
                                <img id="image-preview" class="preview" src="{{ client.photo.url }}" alt="{{ client.name }}">
                                {% else %}
                                    {% if client.gender == 'F' %}
                                    <img id="image-preview" class="preview" src="{% static 'app/images/clients/customer_woman.png' %}" alt="Pré-visualização da imagem">
                                    {% else %}
                                    <img id="image-preview" class="preview" src="{% static 'app/images/clients/customer_man.png' %}" alt="Pré-visualização da imagem">
                                    {% endif %}
                                {% endif %}
                                <label class="upload-label" for="photo">Foto</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="data">
                    <div class="form-row" style="margin-top: 10px;">
                        <div class="form-group">
                            <label for="nome">Nome:</label>
                            {{ form.name }}
                        </div>
                        <div class="form-group">
                            <label for="instagram">Instagram:</label>
                            {{ form.instagram }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            {{ form.email }}
                            {% if form.email.errors %}
                                <ul class="errorlist">
                                    {% for error in form.email.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        <div class="form-group" style="max-width: 200px;">
                            <label for="phone">Telefone:</label>
                            {{ form.phone }}
                            {% if form.phone.errors %}
                                <ul class="errorlist">
                                    {% for error in form.phone.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        <div class="form-group" style="max-width: 110px;">
                            <label for="whatsapp">É WhatsApp?</label>
                            <div>
                                {{ form.whatsapp }}
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="gender">Gênero:</label>
                            {{ form.gender }}
                        </div>
                        <div class="form-group">
                            <label for="birth">Data Nascimento:</label>
                            {{ form.birth }}
                            {% if form.birth.errors %}
                                <ul class="errorlist">
                                    {% for error in form.birth.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="cpf">CPF:</label>
                            {{ form.cpf }}
                            {% if form.cpf.errors %}
                                <ul class="errorlist">
                                    {% for error in form.cpf.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="RG">RG:</label>
                            {{ form.rg }}
                        </div>
                    </div>
                </div>
            </div>
            <h3>Endereço</h3>
            <div class="form-row" style="margin-top: 10px;">
                <div class="form-group" style="max-width: 100px;">
                    <label for="zip_code">CEP</label>
                    {{ form.zip_code }}
                </div>
                <div class="form-group">
                    <label for="address">Endereço</label>
                    {{ form.address }}
                </div>
                <div class="form-group" style="max-width: 120px;">
                    <label for="numero">Número</label>
                    {{ form.address_number }}
                </div>
                <div class="form-group">
                    <label for="complement">Complemento</label>
                    {{ form.complement }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="neighborhood">Bairro</label>
                    {{ form.neighborhood }}
                </div>
                <div class="form-group">
                    <label for="city">Cidade</label>
                    {{ form.city }}
                </div>
                <div class="form-group">
                    <label for="state">Selecione o Estado:</label>
                    {{ form.state }}
                </div>
            </div>
            <h3>Outros Dados</h3>
            <div class="form-row" style="margin-top: 10px;">
                <div class="form-group">
                    <label for="observation">Observação:</label>
                    {{ form.observation }}
                </div>
            </div>
        </div> <!-- end table -->           
    </div> <!-- end grid -->
</form>


{% if packages %}
    <div class="grid mt-3" >
        <div class="exp">
            <h3>Pacotes</h3>
        </div>
    </div>
    {% for package in packages %}
        <div class="grid">
            <div class="table">
                <div class="row header">
                    <div class="cell">Pacote</div>
                    <div class="cell">Data de criação</div>
                    <div class="cell">Data de expiração</div>
                    <div class="cell action">Ações</div>
                </div> <!-- end row header -->
                <div class="row">
                    <div class="cell">
                        {{ package.plan.name }}
                    </div>
                    <div class="cell">
                        {{ package.created_at }}
                    </div>
                    <div class="cell">
                        {{ package.deadline }}
                    </div>
                    <div class="cell action act">
                        <a href="{% url 'package_update' id=package.id %}" title="Renovar o pacote" alt="Renovar o pacote">
                            <i class="fas fa-sync-alt"></i>
                        </a>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end table -->         
        </div> <!-- end grid -->

        <div class="table">
            <div class="row header">
                <div class="cell name exp">Cliente</div>
                <div class="cell exp">Galeria</div>
                <div class="cell exp">Link</div>
                <div class="cell exp">Ativo</div>
                <div class="cell action exp">Ações</div>
            </div> <!-- end row header -->

            {% for gallery in package.galleries.all%}
                    <div class="row">
                        <div class="cell name">{{ gallery.client.name }}</div>
                        <div class="cell">{{ gallery.name }}</div>
                        <div class="cell"><a href="{{ gallery.link }}" target="_blanc">{{ gallery.link }}</a></div>
                        <div class="cell">
                            {% if gallery.active %}
                                <span style="color: green;">✔</span>
                            {% else %}
                                <span style="color: red;">✖</span>
                            {% endif %}
                        </div>
                        <div class="cell action">
                            <button class="view">
                                <a href="{% url 'gallery_view' gallery.id %}" title="Visualizar o galeria" alt="Visualizar o galeria">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </button>
                            <button class="edit">
                                <a href="{% url 'gallery_update' gallery.id %}" title="Atualizar o galeria" alt="Atualizar o galeria">
                                    <i class="fa-solid fa-pen"></i>
                                </a>
                            </button>
                            <button class="delete">
                                <a href="{% url 'gallery_delete' gallery.id %}" title="Excluir o galeria" alt="Excluir o galeria">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </button>
                        </div>
                    </div> <!-- end row -->
            {% endfor %}
                </div> <!-- end table -->   
        {% endfor %}
    {% else %}
        <div class="grid mt-3" >
            <div class="exp">
                <h3>Pacote</h3>
            </div>
        </div>
        <div class="grid">
            <div class="table">
                <div class="row header">
                    <div class="cell">Pacote</div>
                    <div class="cell">Data de expiração</div>
                    <div class="cell action">Ações</div>
                </div> <!-- end row header -->
            </div> <!-- end table --> 
            <div class="table">
                <div class="row">
                    <div class="cell">Nenhum pacote ou galeria.</div>
                </div> <!-- end row -->
            </div> <!-- end table -->         
        </div> <!-- end grid -->
    {% endif %} 

{% endblock content %}