{% extends '_base/base.html' %}
{% load static %}

{% block content %}
<div class="button-container">
    <h1>Lista de Clientes</h1>
    <a href={% url 'client_register' %}>
        <button class="button">
            <i class="fa-solid fa-user-plus"></i> Novo Cliente
        </button>
    </a>
</div>
<div class="search{% if search %} active{% endif %}">
        {% if search %}
        <div class="result_search">
            Pesquisa por: {{ search }}
        </div>
        {% endif %}
        <form action="{% url 'clients_view' %}" method="GET">
           <input id="search" name="search" type="text" placeholder="Pesquisar" value="{{ search }}" />
        </form>        
</div> <!-- end search -->
{% if clients %}
<div class="grid">
    <div class="table">
        <div class="row header">
            <div class="cell">Foto</div>
            <div class="cell name">Nome</div>
            <div class="cell">Instagram</div>
            <div class="cell">Telefone</div>
            <div class="cell action">Ações</div>
        </div> <!-- end row header -->
        {% for client in clients %}
        <div class="row">
            {% if client.photo %}
            <div class="cell" style="max-width: 50px;"><img src="{{ client.photo.url }}"></div>
            {% else %}
                {% if client.gender == 'F' %}
                <div class="cell" style="max-width: 50px;"><img src={% static 'app/images/clients/customer_woman.png' %}></div>
                {% else %}
                <div class="cell" style="max-width: 50px;"><img src={% static 'app/images/clients/customer_man.png' %}></div>
                {% endif %}
            {% endif %}
            <div class="cell name">{{ client.name }}</div>
            <div class="cell">
                {% if client.instagram %}
                <a href="https://www.instagram.com/{{ client.instagram }}" href="instagram://user?username={{ client.instagram }}" target="_blank">@{{ client.instagram }}</a>
                {% endif %}
            </div>
            <div class="cell">
                {% if client.whatsapp %}
                <a href="https://wa.me/55{{ client.phone_number }}" target="_blank">{{ client.phone }}</a>
                {% else %}
                {{ client.phone }}
                {% endif %}
            </div>
            <div class="cell action">
                <button class="view">
                    <a href="{% url 'client_view' client.id %}" title="Ver informações do cliente" alt="Ver informações do cliente">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                </button>
                <button class="edit">
                    <a href="{% url 'client_update' client.id %}" title="Atualizar o cliente" alt="Atualizar o cliente">
                        <i class="fa-solid fa-pen"></i>
                    </a>
                </button>
                <button class="delete">
                    <a href="{% url 'client_delete' id=client.id %}" title="Excluir o cliente" alt="Excluir o cliente">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </button>
            </div>
        </div> <!-- end row -->
        {% endfor %}
    </div> <!-- end table -->         
</div> <!-- end grid -->
<div class="pagination">
    {% for page in clients.paginator.page_range %}
        {% if page == clients.number %}
            <button class="page-button active">{{ page }}</button>
        {% else %}
            <a href="{% url 'clients_show' %}?search={{ search }}&page={{ page }}">
                <button class="page-button">{{ page }}</button>
            </a>
        {% endif %}
    {% endfor %}
</div> <!-- end pagination -->
{% else %}
<div class="grid">
    <div class="table">
        <div class="row header">
            <div class="cell">Foto</div>
            <div class="cell name">Nome</div>
            <div class="cell">Instagram</div>
            <div class="cell">Telefone</div>
            <div class="cell action">Ações</div>
        </div> <!-- end row header -->
    </div> <!-- end table --> 
    <div class="table">
        <div class="row">
            {% if search %}
            <div class="cell">Nenhum cliente que corresponda a pesquisa por "{{ search }}".</div>
            {% else %}
            <div class="cell">Nenhum cliente cadastrado.</div>
            {% endif %}
        </div> <!-- end row -->
    </div> <!-- end table -->         
</div> <!-- end grid -->
{% endif %}  
{% endblock content %}
