    :root {
        --colorpalette-light_gray: #f4f4f4;
        --colorpalette-medium_gray: #e4e4e4;
        --colorpalette-dark_gray: #999999;
        --colorpalette-turquoise: #68B6BC;
        --colorpalette-dark_turquoise: #488c91;
        --colorpalette-light_red: #f8d8d8;
        --colorpalette-red: #990000;
        --colorpalette-dark_red: #770000;
        --colorpalette-light_orange: #cfcdb4;
        --colorpalette-orange: #996900;
    }
    
    /* General Reset */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    ::-webkit-scrollbar {
        margin: 2px;
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        width: 14px;
        background: var(--colorpalette-medium_gray);
    }

    ::-webkit-scrollbar-thumb {
        background: var(--colorpalette-turquoise);
        border-radius: 6px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--colorpalette-dark_turquoise);
    }
    
    body {
        background-color: var(--colorpalette-light_gray);
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.6;
    }
    
    header {
        color: var(--colorpalette-turquoise);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        margin-left: 250px;
        height: 70px;
    }

    h1 {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .logo {
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo img {
        width: 150px;
    }

    .logo_form {
        display: none;
        justify-content: center;
        align-items: center;
    }

    .logo_form img {
        width: 150px;
        margin: 5%;
    }

    .toggle {
        background-color: var(--colorpalette-turquoise);
        padding: 5px 10px;
        border: none;
        border-radius: 6px;
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
        display: none;
    }

    .dashboard {
        display: flex;
        flex-direction: column;
        min-height: calc(100svh - 70px);
    }
    
    aside {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--colorpalette-dark_turquoise);
        color: white;
        width: 250px;
        height: 100svh;
        transition: transform 0.3s ease-in-out;
        z-index: 1000;
    }

    aside.active {
        transform: translateX(0);
    }
    
    aside nav ul {
        list-style: none;
    }
    
    aside nav ul li {
        display: flex;
        height: 40px;
        background-color: var(--colorpalette-turquoise);
        transition: background 0.3s ease;
        margin: 5px 5px;
        padding: 0 10px;
        align-items: center;
        text-decoration: none;
        color: white;
        font-weight: bold;
        opacity: 0.7;
        cursor: pointer;
    }

    aside nav ul li:hover {
        text-decoration: none;
        color: white;
        background-color: var(--colorpalette-turquoise) ;
        opacity: 1;
    }

    .logout {
        margin-top: auto;
    }

    .lbt {
        display: flex;
        height: 40px;
        background-color: var(--colorpalette-turquoise);
        transition: background 0.3s ease;
        margin: 5px 5px;
        padding: 0 10px;
        align-items: center;
        text-decoration: none;
        color: white;
        font-weight: bold;
        opacity: 0.7;
        cursor: pointer;
    }
    
    main {
        background-color: var(--colorpalette-light_gray);
        margin-left: 250px;
        padding: 0 2rem;
    }

    a {
        color: var(--colorpalette-turquoise);
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: none;
    }

    label {
        color: var(--colorpalette-dark_gray);
    }

    input {
        background-color: white;
        margin-left: 0;
        padding: 8px;
        font-size: 14px;
        border: 1px solid var(--colorpalette-dark_gray);
        border-radius: 5px;
        color: var(--colorpalette-dark_gray);
        outline-color: var(--colorpalette-turquoise);
    }

    input.error {
        background-color: var(--colorpalette-light_red);
        border: 1px solid var(--colorpalette-dark_red);
        border-radius: 5px;
        color: var(--colorpalette-dark_red);
    }

    .errorlist {
        text-decoration: none;
        list-style: none;
        font-weight: bold;
        font-size: 12px;
        color: var(--colorpalette-dark_red);
    }

    .delete {
        font-weight: bold;
        font-size: 18px;
        color: var(--colorpalette-red);
    }

    select {
        height: 34px;
        background-color: white;
        margin-left: 0;
        padding: 7px;
        font-size: 14px;
        border: 1px solid var(--colorpalette-dark_gray);
        border-radius: 5px;
        color: var(--colorpalette-dark_gray);
        outline-color: var(--colorpalette-turquoise);
    }

    textarea {
        background-color: white;
        margin-left: 0;
        padding: 8px;
        font-size: 14px;
        border: 1px solid var(--colorpalette-dark_gray);
        border-radius: 5px;
        color: var(--colorpalette-dark_gray);
        outline-color: var(--colorpalette-turquoise);
    }

    form[disabled] * {
        pointer-events: none;
      }
    
    .grid {
        margin-top: 0;
        overflow-x: auto;
    }

    .grid::-webkit-scrollbar {
        height: 12px;
    }

    .grid::-webkit-scrollbar-thumb {
        background-color: var(--colorpalette-turquoise);
        border-radius: 6px;
    }

    .grid::-webkit-scrollbar-thumb:hover {
        background-color: var(--colorpalette-dark_turquoise);
        border-radius: 6px;
    }

    .grid::-webkit-scrollbar-track {
        background-color: var(--colorpalette-medium_gray);
    }

    .button-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        color: var(--colorpalette-dark_gray);
    }

    .button-container h1 {
        font-size: 1.2rem;
    }
    
    .button {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 15px;
        padding: 10px 20px;
        font-size: 14px;
        font-weight: bold;
        color: white;
        background-color: var(--colorpalette-turquoise);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .button:hover {
        background-color: var(--colorpalette-dark_turquoise);
        text-decoration: none;
    }
    
    .button:active {
        background-color: var(--colorpalette-dark_turquoise);
    }


    .del-client-button {
        right: 0;
        display: flex;
        gap: 8px;
        padding: 10px 20px;
        font-size: 14px;
        font-weight: bold;
        color: white;
        background-color: var(--colorpalette-red);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 15px;
    }
    
    .del-client-button:hover {
        background-color: var(--colorpalette-dark_red);
        text-decoration: none;
    }
    
    .del-client-button:active {
        background-color: var(--colorpalette-dark_red);
    }

    .table {
        min-width: 800px;
        display: table;
        width: 100%;
        border-collapse: collapse;
        border-radius: 6px;
    }

    .row {
        background-color: white;
        color: var(--colorpalette-dark_gray);
        display: table-row;
        border-bottom: 1px solid var(--colorpalette-medium_gray);
    }

    .row_dash {
        background-color: white;
        color: var(--colorpalette-dark_gray);
        border-bottom: 1px solid var(--colorpalette-medium_gray);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .row.header {
        background-color: var(--colorpalette-turquoise);
        color: white;
        font-weight: bold;
        text-align: left;
    }

    .row_dash.header {
        background-color: var(--colorpalette-turquoise);
        color: white;
        font-weight: bold;
        text-align: left;
    }

    .search {
        display: flex;
        background-color: none;
        justify-content: end;
        padding-bottom: 15px;
    }

    .search.active {
        justify-content: space-between;
    }

    .result_search {
        margin-top: 12px;
        font-size: 14px;
        color: var(--colorpalette-dark_gray);
    }

    .cell {
        display: table-cell;
        padding: 10px 15px;
        vertical-align: middle;
        align-items: center;
        text-align: left;
    }

    .cell.name {
        width: 300px;
    }

    .cell.action {
        width: 150px;
    }

    .cell img {
        width: 40px;
        height: 40px;
        border: 1px solid var(--colorpalette-medium_gray);
        border-radius: 20px;
        margin-top: 5px;
    }

    .cell a {
        color: var(--colorpalette-turquoise);
        text-decoration: none;
    }

    .cell button {
        border: none;
        background: none;
        padding: 5px;
        cursor: pointer;
        font-size: 18px;
        margin-right: 5px;
    }

    .cell button i {
        color: var(--colorpalette-dark_gray);
    }

    .cell button i:hover {
        color: #666;
    }

    .form-section {
        background-color: white;
        color: var(--colorpalette-dark_gray);
    }

    .form-section h3 {
        background-color: var(--colorpalette-turquoise);
        color: white;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
        padding: 10px 15px;
    }

    .form-section .form-row {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding: 1rem;
        justify-content: left;
        align-items: flex-start;
    }

    .form-section .form-col {
        display: flex;
        flex-direction: row;
        justify-content: left;
    }

    .exp {
        background-color: var(--colorpalette-medium_gray);
        color: var(--colorpalette-dark_gray);
        font-size: 16px;
        padding: 10px 15px;
    }
        
    .form-group {
        display: flex;
        flex-direction: column;
        justify-items: left;
        width: 100%;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    .form-group label {
        margin-bottom: 5px;
        font-weight: bold;
    }

    .form-group .danger {
        font-size: 12px;
        color: var(--colorpalette-dark_red);
    }

    .form-img {
        align-items: start;
        justify-content: left;
        text-align: left;
        width: 160px;
        height: 160px;
        border-radius: 6px;
    }

    .photo {
        width: 160px;
        height: 160px;
    }

   /* Contêiner do upload */
   .upload-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        padding-bottom: 10px;
        border: 1px dashed var(--colorpalette-dark_gray);
        border-radius: 6px;
        background-color: white;
        width: 150px;
    }

    /* Botão de upload */
    .upload-label {
        display: flex;
        gap: 8px;
        padding: 5px 20px;
        font-size: 14px;
        font-weight: bold;
        color: white;
        background-color: var(--colorpalette-turquoise);
        border: none;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 15px;
    }

    /* Efeito hover no botão */
    .upload-label:hover {
        background-color: var(--colorpalette-dark_turquoise);
    }

    .upload-label.disabled {
        background-color: var(--colorpalette-dark_gray);
    }

    /* Ocultar o campo de upload padrão */
    #photo {
        display: none;
    }

    /* Estilo da pré-visualização */
    .preview {
        max-width: 100%;
        border: 1px solid var(--colorpalette-dark_gray);
        border-radius: 6px;
    }

    .data {
        flex:1;
        width: 100%;
    }

    .expired {
        color: var(--colorpalette-red);
    }

    .expired a {
        color: var(--colorpalette-red);
    }

    .expired.act {
        display: flex;
        gap: 20px;
    }

    .expiring {
        color: var(--colorpalette-orange);
        
    }

    .expiring a {
        color: var(--colorpalette-orange);
    }

    .pagination {
        display: flex;
        justify-content: flex-end;
        margin-top: 15px;
        padding-right: 10px;
    }

    .page-button {
        background-color: var(--colorpalette-turquoise);
        color: white;
        border: none;
        border-radius: 4px;
        margin-left: 5px;
        padding: 8px 12px;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .page-button.active {
        background-color: var(--colorpalette-dark_gray);
        font-weight: bold;
    }

    .page-button.active:hover {
        background-color: var(--colorpalette-dark_gray);
        font-weight: bold;
    }

    .page-button:hover {
        background-color: var(--colorpalette-dark_turquoise);
    }
    
    footer {
        margin-top: auto;
        text-align: center;
        padding: 1rem;
        color: var(--colorpalette-dark_gray);
    }

    .mt-1 {
        margin-top: 5px;
    }
    .mt-2 {
        margin-top: 10px;
    }
    .mt-3 {
        margin-top: 15px;
    }
    .mt-4 {
        margin-top: 20px;
    }
    .mt-5 {
        margin-top: 25px;
    }

    .login_grid {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:flex-start;
        overflow: hidden;
    }

    .login {
        width: 100%;
        height: 100svh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .login_form {
        width: 100%;
        padding: 15%;
    }

    .login_bg {
        background-color: var(--colorpalette-dark_turquoise);
    }

    .error-message {
        color: var(--colorpalette-light_red);
        background-color: var(--colorpalette-red);
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    /* Responsiveness */
    @media (max-width: 768px) {

        header {
            margin-left: 0px;
            padding: 1rem;
        }

        h1 {
            font-size: 1.3rem;
            font-weight: bold;
        }
    
        aside {
        transform: translateX(-100%);
        width: 250px;
        }
    
        aside.active {
        transform: translateX(0);
        }
    
        main {
        margin-left: 0;
        padding: 0 1rem;
        }

        .login_bg {
            display: none;
        }

        .logo_form {
            display: flex;
        }

        .toggle {
            display: block;
            }

        .table-container {
            padding: 10px;
        }
        .cell {
            padding: 8px;
            font-size: 14px;
        }
        .cell button {
            font-size: 16px;
        }

        .form-section .form-row {
            flex-direction: column;
        }

        .form-section .form-col {
            flex-direction: column;
        }

        .form-img {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 100%;
        }

    }